{{#if isExpanded}}
  {{safeText}}
  {{#if canCollapse}}
    <a href="#" {{action "toggleExpand"}}>{{collapseText}}</a>
  {{/if}}
{{else}}
  {{truncated}}
  {{#if isTruncated}}
    {{#if canExpand}}
      {{#if expandHref}}
        <a href={{expandHref}}>{{expandText}}</a>
      {{else}}
        <a href="#" {{action "toggleExpand"}}>{{expandText}}</a>
      {{/if}}
    {{/if}}
  {{/if}}
{{/if}}